body{
   overflow-x: hidden;
   font-family: 'Poppins', sans-serif
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* mixed-style */
.display-flex{
    display: flex;
}

/* navber */
header{
    width: 100%;
    margin: 0 auto;
}
.navber{
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    
}
.navber h3{
    margin-left: 120px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
}
.nav-item{
    gap: 20px;
    margin-top: 55px;
    margin-right: 120px;
    font-size: 15px;
    font-weight: 600;
}
.nav-item li{
    list-style: none;
} 
.menu-icon{
    display: none;
}
/* banner-section */
.section-heading{
    width: 580px;
    height: 290px;
    margin-left: 120px;
    margin-top: 80px;

    
}
.banner{
    display: flex;
}
.section-title{
    font-size: 40px;
    padding: 0px 0px;
    color: #3A3A3A;
}
.section-pragraph{
    font-size: 16px;
    color: #3A3A3A;
}
.btn-primary{
    width: 190px;
    height: 44px;
    background-color: #E02C6D;
    color: white;
    border-radius: 40px;
    opacity: 100%;
    border: none;
    margin-top: 40px;
}

.sponsers-img{
   display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    flex-wrap: wrap;
    gap: 20px;
}

/* responsiv-desgin */
@media screen and (max-width:576px) {
    
    .nav-item{
        display: none;
    }
  #nav-menu{
    display: block;
    margin-top: 30px;
    text-align: center;
  }
.section-title {
    font-size: 40px;
    color: #3A3A3A;
    display: grid;
    justify-content: center;
}
.menu-icon{
    display: block;
    margin-top: 50px;
    padding-right: 50px;
}
.banner{
flex-direction: column-reverse;
justify-content: center;
align-items: center;
}
.section-heading{
    width:100%;
    justify-items: center;
    text-align: center;
}
.section-title{
    font-size: 28px;
    width: 404px;
    height: 78px;
}
.section-pragraph{
    width: 320px;
    height: 65px;
    font-size: 14px;
    margin-top: 10px;

}
.section-image{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: -30px;
    margin-top: 10px;
   
    
   
}
.sponsers-img{
    
justify-content: center;
align-items: center;
justify-items: center;
}
    
.hide{
    display: none;
}

}

    



